Repository christoph2/pyA2L: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, ruff, check-toml, check-json, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "bandit.yml"]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        args: ["check"]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-json
        name: check-json
        entry: check-json
        language: python
        types: [json]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: check-ast
        name: check-ast
        entry: check-ast
        language: python
        types: [python]
        stages: [commit]
      - id: check-builtin-literals
        name: check-builtin-literals
        entry: check-builtin-literals
        language: python
        types: [python]
        stages: [commit]
      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        language: python
        types: [python]
        stages: [commit]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
        types: [text]
        stages: [commit]
      - id: fix-byte-order-marker
        name: fix-byte-order-marker
        entry: fix-byte-order-marker
        language: python
        types: [python]
        stages: [commit]
      - id: mixed-line-ending
        name: mixed-line-ending
        entry: mixed-line-ending
        language: python
        types_or: [c, c++, python]
        stages: [commit]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        types_or: [python]
        stages: [commit]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py38-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        #  - repo: https://github.com/pre-commit/mirrors-prettier
        #rev: v4.0.0-alpha.8
        #hooks:
        #- id: prettier

Fix syntax errors
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
Due: mixed-line-ending

today()
  CMakeLists.txt
  pya2l/a2llg.g4
  pya2l/aml.g4
  pya2l/aml/unmarshal.cpp
  pya2l/aml_parser.cpp
  pya2l/extensions/preprocessor.hpp
  pya2l/extensions/tokenizer.cpp
Due: mixed-line-ending

fixes types
  pya2l/aml/marshal.cpp
  pya2l/aml/unmarshal.cpp
Due: mixed-line-ending

today()
  pya2l/__init__.py
  pya2l/aml/marshal.cpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

New parser front-end
  pya2l/aml/unmarshal.cpp
  pya2l/aml/unmarshal.hpp
  pya2l/aml_parser.cpp
  pya2l/if_data_parser.cpp
Due: mixed-line-ending

today()
  CMakeLists.txt
  poetry.lock
Due: none

today()
  pya2l/aml/unmarshal.cpp
  pya2l/aml_parser.cpp
Due: mixed-line-ending

antlr4 fixes
  pya2l/aml_parser.cpp
Due: mixed-line-ending

new parser structs
  pya2l/aml/unmarshal.cpp
  pya2l/aml/unmarshal.hpp
  pya2l/if_data_parser.cpp
Due: mixed-line-ending

today()
  pya2l/aml/unmarshal.cpp
  pya2l/aml/unmarshal.hpp
  pya2l/if_data_parser.cpp
Due: mixed-line-ending

today()
  pya2l/if_data_parser.cpp
Due: mixed-line-ending

bytes patch
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/parser.cpp
  pya2l/amlparser_wrapper.cpp
  pya2l/extensions/tokenizer.cpp
Due: mixed-line-ending

bytes patch
  pya2l/amlparser_wrapper.cpp
Due: mixed-line-ending

antlr4 fixes
  pya2l/classes.py
  pya2l/parserlib.py
  pya2l/parsers.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Additional MacOS search directory
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  pya2l/aml.g4
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/unmarshal.hpp
Due: mixed-line-ending

Update grammar
  pya2l/aml/unmarshal.hpp
  pya2l/if_data_parser.cpp
Due: mixed-line-ending

Update build script
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  .pre-commit-config.yaml
  CMakeLists.txt
  build_ext.py
  pya2l/aml.g4
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/unmarshal.hpp
  pya2l/aml_parser.cpp
  pya2l/if_data_parser.cpp
  setup.py
Due: bandit, black, ruff, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  pya2l/aml.g4
  pya2l/aml_parser.cpp
  pya2l/if_data_parser.cpp
Due: mixed-line-ending

today()
  CMakeLists.txt
  pya2l/aml/unmarshal.hpp
  pya2l/if_data_parser.cpp
Due: mixed-line-ending

Update build script (Linux/MacOS)
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  pya2l/aml/marshal.cpp
  pya2l/aml/unmarshal.hpp
  pya2l/aml_parser.cpp
  pya2l/if_data_parser.cpp
Due: mixed-line-ending

Update actions script
  .github/workflows/pythonapp.yml
Due: check-yaml

Linux build options
  CMakeLists.txt
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

:new: A2L parser written in C++
  .bumpversion.cfg
  .github/workflows/pythonapp.yml
  .pre-commit-config.yaml
  poetry.lock
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Try to fix github workflow
  .github/workflows/pythonapp.yml
Due: check-yaml

Try to fix github workflow #3
  .github/workflows/pythonapp.yml
  build_ext.py
Due: bandit, black, ruff, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Remove setup.py
  setup.cfg
  setup.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Try to fix github workflow #4
  build_ext.py
  install_antlr.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Try to fix github workflow #5
  pyproject.toml
Due: check-toml

Try to fix github workflow #6
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Try to fix github workflow #7
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add antlr4 tool
  antlr-tool/antlr-4.13.1-complete.jar
Due: none

Update ANTLR4 version
  CMakeLists.txt
  antlr-tool/antlr-4.13.1-complete.jar
  antlr-tool/antlr-4.13.2-complete.jar
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update JDK
  .github/workflows/pythonapp.yml
Due: check-yaml

Update build_ext.py
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Enable position independent code generation
  .github/workflows/pythonapp.yml
  CMakeLists.txt
  pya2l/__init__.py
Due: bandit, black, ruff, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.13.0 → 0.13.1
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update pythonapp.yml
  .github/workflows/pythonapp.yml
Due: check-yaml
