Repository christoph2/pyA2L: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, ruff, check-toml, check-json, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - bandit.yml

black:
  name: black
  entry: black
  language: system
  require_serial: true

ruff:
  name: ruff
  entry: ruff
  language: system
  args:
  - check
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-json:
  name: check-json
  entry: check-json
  language: python

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

check-ast:
  name: check-ast
  entry: check-ast
  language: python
  stages:
  - commit

check-builtin-literals:
  name: check-builtin-literals
  entry: check-builtin-literals
  language: python
  stages:
  - commit

check-case-conflict:
  name: check-case-conflict
  entry: check-case-conflict
  language: python
  stages:
  - commit

fix-byte-order-marker:
  name: fix-byte-order-marker
  entry: fix-byte-order-marker
  language: python
  stages:
  - commit

mixed-line-ending:
  name: mixed-line-ending
  entry: mixed-line-ending
  language: python
  stages:
  - commit

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python
  stages:
  - commit

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

Bump version: 0.14.11 → 0.14.12
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

AxisPts: Add datatype properties
  pya2l/api/inspect.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Encode get_multiple_values()
  pya2l/a2lparser.py
  pya2l/a2lparser_wrapper.cpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.14.12 → 0.14.13
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix \ escaping
  pya2l/extensions/tokenizer.cpp
Due: mixed-line-ending

Fix VAR_FORBIDDEN_COMB
  pya2l/a2lparser.py
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/parameter.hpp
  pya2l/extensions/parser_table.hpp
  pya2l/extensions/token_stream.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Refactor to dataclasses
  pya2l/api/inspect.py
  pya2l/functions.py
  pya2l/utils.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.14.13 → 0.15.0
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Identity function: make copy from numpy arrays
  pya2l/functions.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix VariantCoding
  pya2l/api/inspect.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.15.0 → 0.15.1
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix address alignment
  pya2l/api/inspect.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add 'NOT_IN_ECU' keyword
  pya2l/classes.py
  pya2l/extensions/a2ltoken.hpp
  pya2l/extensions/parser_table.hpp
  pya2l/extensions/token_type.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.15.1 → 0.15.2
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update dependend characteristics and system constants
  pya2l/api/inspect.py
  pya2l/extensions/sysconsts.hpp
  pya2l/functions.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.15.2 → 0.15.3
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

dataclasses pt #2
  pya2l/api/inspect.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.15.3 → 0.15.4
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

attempt to fix linux build by adding posix import where ssize_t is already defined and removing some std::int* std::uint* from errors while building
  pya2l/aml/aml_lexer.hpp
  pya2l/aml/aml_parser.hpp
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/ifdata_lexer.hpp
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/types.hpp
  pya2l/aml/unmarshal.hpp
  pya2l/extensions/token_stream.hpp
Due: mixed-line-ending

removing std:: from int* and uint*
  pya2l/extensions/a2ltoken.hpp
  pya2l/extensions/asam_types.hpp
  pya2l/extensions/gen_token_files.py
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/keyword.hpp
  pya2l/extensions/line_map.hpp
  pya2l/extensions/parameter.hpp
  pya2l/extensions/preprocessor.hpp
  pya2l/extensions/spdlog/fmt/bundled/chrono.h
  pya2l/extensions/spdlog/sinks/wincolor_sink-inl.h
  pya2l/extensions/spdlog/sinks/wincolor_sink.h
  pya2l/extensions/sysconsts.hpp
  pya2l/extensions/token_stream.hpp
  pya2l/extensions/token_type.hpp
  pya2l/extensions/tokenizer.cpp
  pya2l/extensions/tokenizer.hpp
  pya2l/extensions/utils.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix pyproject.toml
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.15.5 → 0.15.6
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Refactorings
  pya2l/api/inspect.py
  pya2l/classes.py
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/line_map.hpp
  pya2l/extensions/preprocessor.hpp
  pya2l/extensions/tempfile.hpp
  pya2l/extensions/token_stream.hpp
  pya2l/utils.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Modernize Parser
  pya2l/a2lparser.py
  pya2l/api/inspect.py
  pya2l/cgen/templates/a2l.tmpl
  pya2l/classes.py
  pya2l/extensions/a2ltoken.hpp
  pya2l/extensions/parser_table.hpp
  pya2l/extensions/token_type.hpp
  pya2l/model/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Modernize Parser
  pya2l/a2lparser.py
  pya2l/api/inspect.py
  pya2l/cgen/templates/a2l.tmpl
  pya2l/classes.py
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/a2ltoken.hpp
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/line_map.hpp
  pya2l/extensions/parser_table.hpp
  pya2l/extensions/preprocessor.hpp
  pya2l/extensions/tempfile.hpp
  pya2l/extensions/token_stream.hpp
  pya2l/extensions/token_type.hpp
  pya2l/model/__init__.py
  pya2l/utils.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.15.6 → 0.16.0
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix unmarshal issues
  pya2l/aml/aml_parser.hpp
  pya2l/aml/ifdata_lexer.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/parser.cpp
  pya2l/aml/parser.hpp
  pya2l/aml/unmarshal.hpp
  pya2l/aml_parser.cpp
  pya2l/api/inspect.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Reset master
  pya2l/a2lparser_wrapper.cpp
  pya2l/aml/aml_parser.hpp
  pya2l/aml/ifdata_lexer.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/parser.cpp
  pya2l/aml/parser.hpp
  pya2l/aml/unmarshal.hpp
  pya2l/aml_parser.cpp
  pya2l/amlparser_wrapper.cpp
  pya2l/api/inspect.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Reset master
  pya2l/a2lparser_wrapper.cpp
  pya2l/aml/unmarshal.hpp
  pya2l/amlparser_wrapper.cpp
  pya2l/api/inspect.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

IF_DATA parser / initial
  pya2l/a2lparser_wrapper.cpp
  pya2l/aml/ifdata_parser.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update IF_DATA parser
  pya2l/a2lparser_wrapper.cpp
  pya2l/aml/ifdata_lexer.hpp
  pya2l/aml/ifdata_parser.py
  pya2l/aml/unmarshal.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update IF_DATA parser
  pya2l/a2lparser_wrapper.cpp
  pya2l/aml/ifdata_lexer.hpp
  pya2l/aml/ifdata_parser.py
  pya2l/examples/ifdata_tester.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Basically working parser
  pya2l/aml/ifdata_parser.py
  pya2l/examples/ifdata_tester.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Small fixes
  pya2l/aml/ifdata_parser.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix multiple
  pya2l/aml/ifdata_lexer.hpp
  pya2l/aml/ifdata_parser.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Handle referrers
  pya2l/aml/ifdata_parser.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Use defaultdict
  pya2l/aml/ifdata_parser.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix IfData parser
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/ifdata.hpp
Due: mixed-line-ending

Path conditions:
  bandit: any of: \.py$
  black: any of: \.py$
  ruff: any of: \.py$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
  check-ast: any of: \.py$
  check-builtin-literals: any of: \.py$
  check-case-conflict: any of: \.py$
  fix-byte-order-marker: any of: \.py$
  mixed-line-ending: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  end-of-file-fixer: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
