Repository christoph2/pyA2L: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: python
  stages:
  - commit

check-json:
  name: check-json
  entry: check-json
  language: python
  stages:
  - commit

check-toml:
  name: check-toml
  entry: check-toml
  language: python
  stages:
  - commit

check-ast:
  name: check-ast
  entry: check-ast
  language: python
  stages:
  - commit

check-builtin-literals:
  name: check-builtin-literals
  entry: check-builtin-literals
  language: python
  stages:
  - commit

check-case-conflict:
  name: check-case-conflict
  entry: check-case-conflict
  language: python
  stages:
  - commit

fix-byte-order-marker:
  name: fix-byte-order-marker
  entry: fix-byte-order-marker
  language: python
  stages:
  - commit

mixed-line-ending:
  name: mixed-line-ending
  entry: mixed-line-ending
  language: python
  stages:
  - commit

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python
  stages:
  - commit

trailing-whitespace-fixer:
  name: trailing-whitespace-fixer
  entry: trailing-whitespace-fixer
  language: python
  stages:
  - commit

reorder-python-imports:
  name: reorder-python-imports
  entry: reorder-python-imports
  language: python
  stages:
  - commit

black:
  name: black
  entry: black
  language: python
  stages:
  - commit

flake8:
  name: flake8
  entry: flake8
  language: python
  stages:
  - commit

today()
  CMakeLists.txt
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/aml_visitor.h
  pya2l/aml_parser.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pya2l/aml/aml_visitor.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pya2l/aml/aml_visitor.cpp
  pya2l/aml_parser.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  CMakeLists.txt
Due: none

today()
  CMakeLists.txt
  pya2l/aml/aml_visitor.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  CMakeLists.txt
  build_ext.py
  pya2l/aml/aml_visitor.cpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

today
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/aml_visitor.h
  pya2l/aml/klasses.hpp
  pya2l/aml_parser.cpp
  pya2l/extensions/utils.hpp
  reformat.cmd
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  CMakeLists.txt
  build_ext.py
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
  pya2l/aml_parser.cpp
  pyproject.toml
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

today()
  CMakeLists.txt
  build_ext.py
  pya2l/aml/klasses.hpp
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/asam_types.hpp
  pya2l/extensions/preprocessor.hpp
  pyproject.toml
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

today()
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
  pya2l/extensions/ifdata.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pya2l/aml/klasses.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/keyword.hpp
  pya2l/extensions/preprocessor.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  CMakeLists.txt
  pya2l/extensions/keyword.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  CMakeLists.txt
  build_ext.py
  poetry.lock
  pya2l/a2lparser_wrapper.cpp
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/types.hpp
  pya2l/aml/unmarshal.cpp
  pya2l/aml_parser.cpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

today
  pya2l/extensions/parameter.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

fix multiple
  pya2l/aml/marshal.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

fix multiple
  poetry.lock
Due: none

try fix block
  pya2l/aml/marshal.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pya2l/extensions/FreeA2LParser/debug.log
Due: none

today()
  pya2l/aml/marshal.cpp
  pya2l/aml/unmarshal.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  CMakeLists.txt
  poetry.lock
  pya2l/__init__.py
  pya2l/aml/unmarshal.cpp
  pya2l/aml_parser.cpp
  pya2l/extensions/tokenizer.cpp
  pyproject.toml
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

today()
  pya2l/aml/unmarshal.cpp
  pya2l/aml_parser.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  CMakeLists.txt
  pya2l/a2llg.g4
  pya2l/aml.g4
  pya2l/aml/unmarshal.cpp
  pya2l/aml_parser.cpp
  pya2l/extensions/preprocessor.hpp
  pya2l/extensions/tokenizer.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  CMakeLists.txt
  pya2l/aml/parser.cpp
  pya2l/extensions/preprocessor.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  build_ext.py
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/unmarshal.cpp
  pya2l/aml_parser.cpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

today()
  pya2l/if_data_parser.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pya2l/amlparser_wrapper.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  CMakeLists.txt
  build_ext.py
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/unmarshal.cpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

Fix syntax errors
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-ast: any of: \.py$
  check-builtin-literals: any of: \.py$
  check-case-conflict: any of: \.py$
  fix-byte-order-marker: any of: \.py$
  mixed-line-ending: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  end-of-file-fixer: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  trailing-whitespace-fixer: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  reorder-python-imports: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
