Repository christoph2/pyA2L: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, ruff, check-toml, check-json, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - bandit.yml

black:
  name: black
  entry: black
  language: system
  require_serial: true

ruff:
  name: ruff
  entry: ruff
  language: system
  args:
  - check
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-json:
  name: check-json
  entry: check-json
  language: python

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

check-ast:
  name: check-ast
  entry: check-ast
  language: python
  stages:
  - commit

check-builtin-literals:
  name: check-builtin-literals
  entry: check-builtin-literals
  language: python
  stages:
  - commit

check-case-conflict:
  name: check-case-conflict
  entry: check-case-conflict
  language: python
  stages:
  - commit

fix-byte-order-marker:
  name: fix-byte-order-marker
  entry: fix-byte-order-marker
  language: python
  stages:
  - commit

mixed-line-ending:
  name: mixed-line-ending
  entry: mixed-line-ending
  language: python
  stages:
  - commit

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python
  stages:
  - commit

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

today()
  CMakeLists.txt
  build_ext.py
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
  pya2l/aml_parser.cpp
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  CMakeLists.txt
  pya2l/aml/aml_visitor.cpp
Due: mixed-line-ending

today()
  CMakeLists.txt
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/aml_visitor.h
  pya2l/aml_parser.cpp
Due: mixed-line-ending

today()
  CMakeLists.txt
  build_ext.py
  pya2l/aml/aml_visitor.cpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  pya2l/aml/aml_visitor.cpp
Due: mixed-line-ending

today()
  CMakeLists.txt
  build_ext.py
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/aml_visitor.h
  pya2l/aml_parser.cpp
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/aml_visitor.h
  pya2l/aml/klasses.hpp
  pya2l/aml_parser.cpp
  pya2l/extensions/utils.hpp
  reformat.cmd
Due: mixed-line-ending

today()
  pya2l/aml/aml_visitor.cpp
  pya2l/aml_parser.cpp
Due: mixed-line-ending

today()
  CMakeLists.txt
Due: none

today()
  CMakeLists.txt
  build_ext.py
  pya2l/aml/klasses.hpp
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/asam_types.hpp
  pya2l/extensions/preprocessor.hpp
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today
  CMakeLists.txt
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
Due: mixed-line-ending

fix multiple
  pya2l/aml/marshal.cpp
Due: mixed-line-ending

today
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/keyword.hpp
  pya2l/extensions/preprocessor.hpp
Due: mixed-line-ending

today
  pya2l/extensions/parameter.hpp
Due: mixed-line-ending

today()
  CMakeLists.txt
  poetry.lock
  pya2l/__init__.py
  pya2l/aml/unmarshal.cpp
  pya2l/aml_parser.cpp
  pya2l/extensions/tokenizer.cpp
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

try fix block
  pya2l/aml/marshal.cpp
Due: mixed-line-ending

today()
  pya2l/aml/marshal.cpp
  pya2l/aml/unmarshal.cpp
Due: mixed-line-ending

fix multiple
  poetry.lock
Due: none

today()
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
  pya2l/extensions/ifdata.hpp
Due: mixed-line-ending

today()
  CMakeLists.txt
  build_ext.py
  poetry.lock
  pya2l/a2lparser_wrapper.cpp
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/types.hpp
  pya2l/aml/unmarshal.cpp
  pya2l/aml_parser.cpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  pya2l/aml/klasses.hpp
Due: mixed-line-ending

today()
  pya2l/extensions/FreeA2LParser/debug.log
Due: none

today()
  CMakeLists.txt
  pya2l/extensions/keyword.hpp
Due: mixed-line-ending

today()
  CMakeLists.txt
  build_ext.py
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/unmarshal.cpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  pya2l/amlparser_wrapper.cpp
Due: mixed-line-ending

today()
  CMakeLists.txt
  pya2l/aml/parser.cpp
  pya2l/extensions/preprocessor.hpp
Due: mixed-line-ending

today()
  build_ext.py
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/unmarshal.cpp
  pya2l/aml_parser.cpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix preprocessor suffixes
  pya2l/extensions/tokenizer.cpp
Due: mixed-line-ending

today()
  pya2l/aml/unmarshal.cpp
  pya2l/aml_parser.cpp
Due: mixed-line-ending

today()
  pya2l/if_data_parser.cpp
Due: mixed-line-ending

Path conditions:
  bandit: any of: \.py$
  black: any of: \.py$
  ruff: any of: \.py$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
  check-ast: any of: \.py$
  check-builtin-literals: any of: \.py$
  check-case-conflict: any of: \.py$
  fix-byte-order-marker: any of: \.py$
  mixed-line-ending: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  end-of-file-fixer: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
