Repository christoph2/pyA2L: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, ruff, check-toml, check-json, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "bandit.yml"]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        args: ["check"]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-json
        name: check-json
        entry: check-json
        language: python
        types: [json]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: check-ast
        name: check-ast
        entry: check-ast
        language: python
        types: [python]
        stages: [commit]
      - id: check-builtin-literals
        name: check-builtin-literals
        entry: check-builtin-literals
        language: python
        types: [python]
        stages: [commit]
      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        language: python
        types: [python]
        stages: [commit]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
        types: [text]
        stages: [commit]
      - id: fix-byte-order-marker
        name: fix-byte-order-marker
        entry: fix-byte-order-marker
        language: python
        types: [python]
        stages: [commit]
      - id: mixed-line-ending
        name: mixed-line-ending
        entry: mixed-line-ending
        language: python
        types_or: [c, c++, python]
        stages: [commit]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        types_or: [python]
        stages: [commit]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py38-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        #  - repo: https://github.com/pre-commit/mirrors-prettier
        #rev: v4.0.0-alpha.8
        #hooks:
        #- id: prettier

End-of-day commit.
  pya2l/extensions/ifdata.hpp
  pya2l/preprocessor.hpp
Due: mixed-line-ending

Running :-)
  pya2l/extensions/line_map.hpp
  pya2l/extensions/tokenizer.cpp
  pya2l/preprocessor.hpp
Due: mixed-line-ending

Preprocessor working (/include mechanism still misssing)
  pya2l/extensions/tempfile.hpp
  pya2l/preprocessor.hpp
Due: mixed-line-ending

Update
  pya2l/extensions/generator.hpp
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/line_map.hpp
  pya2l/extensions/tokenizer.cpp
  pya2l/extensions/tokenizer.hpp
  pya2l/preprocessor.cpp
  pya2l/preprocessor.hpp
Due: mixed-line-ending

Add tokenizer
  pya2l/extensions/generator.cpp
  pya2l/extensions/generator.hpp
  pya2l/extensions/generator.txt
Due: mixed-line-ending

Update files
  pya2l/extensions/generator.cpp
  pya2l/extensions/generator.hpp
  pya2l/extensions/regex.hpp
  pya2l/extensions/tokenizer.cpp
  pya2l/extensions/tokenizer.hpp
  pya2l/extensions/utils.hpp
Due: mixed-line-ending

today()
  pya2l/extensions/token_stream.hpp
  pya2l/tokenstream_wrapper.cpp
Due: mixed-line-ending

New generation (parser grammar)
  pya2l/a2l.g4
  pya2l/extensions/tokenizer.hpp
  pya2l/preprocessor.hpp
Due: mixed-line-ending

Add ctre.hpp
  pya2l/extensions/ctre.hpp
Due: mixed-line-ending

Add token_stream.hpp
  pya2l/extensions/token_stream.hpp
Due: mixed-line-ending

today()
  pya2l/__init__.py
  pya2l/a2l_listener.py
  pya2l/extensions/token_stream.cpp
  pya2l/extensions/token_stream.hpp
  pya2l/extensions/tokenizer.cpp
  pya2l/extensions/tokenizer.hpp
  pya2l/parserlib.py
  pya2l/preprocessor.hpp
  pya2l/tokenstream_wrapper.cpp
  setup.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add tokenstream_wrapper.cpp
  pya2l/tokenstream_wrapper.cpp
Due: mixed-line-ending

Exception stuff
  pya2l/extensions/exceptions.cpp
  pya2l/extensions/exceptions.hpp
  pya2l/extensions/token_stream.hpp
  pya2l/parserlib.py
  requirements.txt
  setup.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  pya2l/__init__.py
  pya2l/a2l.tokens
  pya2l/extensions/gen_token_files.py
  pya2l/extensions/ifdata.hpp
  pya2l/parserlib.py
  pya2l/parsers.py
  setup.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

update gen_token_files.py
  pya2l/extensions/gen_token_files.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add .clang-format
  .clang-format
Due: none

today()
  pya2l/a2l.g4
  pya2l/a2l.tokens
  pya2l/a2lparser_wrapper.cpp
  pya2l/extensions/token_stream.hpp
  pya2l/parserlib.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  pya2l/extensions/a2lparser.cpp
  pya2l/extensions/parser_table.hpp
Due: mixed-line-ending

Update
  .gitignore
  cmake_ext.py
  pya2l/a2l_listener.py
  pya2l/a2lparser_wrapper.cpp
  pya2l/parserlib.py
  setup.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add a2.tokens
  pya2l/extensions/a2l.tokens
Due: none

today()
  pya2l/extensions/exceptions.hpp
  pya2l/extensions/token_stream.hpp
  pya2l/extensions/tokenstream_wrapper.cpp
  pya2l/tokenstream_wrapper.cpp
Due: mixed-line-ending

Add a2lparser_wrapper.cpp
  pya2l/a2lparser_wrapper.cpp
Due: mixed-line-ending

Add cmake_ext.py
  cmake_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  pya2l/extensions/a2lparser.cpp
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/asam_types.hpp
  pya2l/extensions/keyword.hpp
  pya2l/extensions/parameter.hpp
  pya2l/extensions/valuecontainer.hpp
Due: mixed-line-ending

today()
  pya2l/extensions/a2ltoken.hpp
Due: mixed-line-ending

today()
  build.cmd
  pya2l/__init__.py
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/valuecontainer.hpp
  pya2l/parserlib.py
  pya2l/parsers.py
  pya2l/scripts/a2ldb_imex.py
  pya2l/utils.py
  pyproject.toml
  requirements.txt
  setup.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add missing a2lparser.py
  pya2l/a2lparser.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  pya2l/extensions/FreeA2LParser/FreeA2LParser.vcxproj
  pya2l/extensions/FreeA2LParser/debug.log
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/asam_types.hpp
  pya2l/extensions/parameter.hpp
  pya2l/extensions/valuecontainer.hpp
Due: mixed-line-ending

Fix variant visitor for MacOS
  pya2l/a2lparser_wrapper.cpp
  pya2l/extensions/ifdata.hpp
Due: mixed-line-ending

Some changes from MacOS
  pya2l/a2lparser_wrapper.cpp
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/asam_types.hpp
  pya2l/extensions/parameter.hpp
  pya2l/extensions/token_stream.hpp
  pya2l/extensions/utils.hpp
Due: mixed-line-ending

Try to fix BYTE_ORDER isssue
  pya2l/extensions/a2ltoken.hpp
Due: mixed-line-ending

today()
  pya2l/extensions/a2lparser.cpp
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/asam_types.hpp
  pya2l/extensions/parameter.hpp
  pya2l/extensions/parser_table.hpp
  pya2l/extensions/token_stream.hpp
  pya2l/extensions/token_type.hpp
  pya2l/extensions/valuecontainer.hpp
Due: mixed-line-ending

Try to fix BYTE_ORDER isssue
  pya2l/extensions/a2lparser.cpp
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/a2ltoken.hpp
Due: mixed-line-ending

Apple fixes
  pya2l/a2lparser_wrapper.cpp
  pya2l/extensions/exceptions.hpp
  pyproject.toml
  requirements.txt
Due: check-toml, mixed-line-ending

Some changes from MacOS
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/tempfile.hpp
  pya2l/extensions/token_stream.hpp
  pya2l/extensions/valuecontainer.hpp
  setup.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  pya2l/a2lparser_wrapper.cpp
Due: mixed-line-ending

today()
  pya2l/a2lparser_wrapper.cpp
  pya2l/extensions/a2lparser.cpp
Due: mixed-line-ending
