Repository christoph2/pyA2L: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, ruff, check-toml, check-json, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - bandit.yml

black:
  name: black
  entry: black
  language: system
  require_serial: true

ruff:
  name: ruff
  entry: ruff
  language: system
  args:
  - check
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-json:
  name: check-json
  entry: check-json
  language: python

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

check-ast:
  name: check-ast
  entry: check-ast
  language: python
  stages:
  - commit

check-builtin-literals:
  name: check-builtin-literals
  entry: check-builtin-literals
  language: python
  stages:
  - commit

check-case-conflict:
  name: check-case-conflict
  entry: check-case-conflict
  language: python
  stages:
  - commit

fix-byte-order-marker:
  name: fix-byte-order-marker
  entry: fix-byte-order-marker
  language: python
  stages:
  - commit

mixed-line-ending:
  name: mixed-line-ending
  entry: mixed-line-ending
  language: python
  stages:
  - commit

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python
  stages:
  - commit

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

Fix variant visitor for MacOS
  pya2l/a2lparser_wrapper.cpp
  pya2l/extensions/a2lparser.hpp
Due: mixed-line-ending

today()
  pya2l/__init__.py
  pya2l/a2lparser.py
  pya2l/a2lparser_wrapper.cpp
  pya2l/extensions/FreeA2LParser/FreeA2LParser.vcxproj
  pya2l/extensions/FreeA2LParser/FreeA2LParser.vcxproj.filters
  pya2l/extensions/FreeA2LParser/debug.log
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/line_map.hpp
  pya2l/extensions/line_numbers.hpp
  pya2l/extensions/preprocessor.hpp
  pya2l/extensions/tokenizer.hpp
  pya2l/parsers.py
  pya2l/preprocessor.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix includes
  pya2l/extensions/preprocessor.hpp
Due: mixed-line-ending

today()
  pya2l/extensions/utils.hpp
Due: mixed-line-ending

today()
  pya2l/extensions/preprocessor.hpp
Due: mixed-line-ending

today()
  pya2l/a2lparser.py
  pya2l/a2lparser_wrapper.cpp
  pya2l/api/inspect.py
  pya2l/cgen/templates/a2l.tmpl
  pya2l/classes.py
  pya2l/examples/ex03.py
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/asam_types.hpp
  pya2l/extensions/exceptions.hpp
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/keyword.hpp
  pya2l/extensions/preprocessor.hpp
  pya2l/extensions/regex.hpp
  pya2l/extensions/tempfile.hpp
  pya2l/extensions/token_type.hpp
  pya2l/extensions/tokenizer.hpp
  pya2l/extensions/utils.hpp
  pya2l/extensions/valuecontainer.hpp
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update lexer grammar
  pya2l/a2llg.g4
Due: none

today()
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/preprocessor.hpp
  pya2l/extensions/token_stream.hpp
Due: mixed-line-ending

today()
  pyproject.toml
Due: check-toml

today()
  pya2l/extensions/generator.hpp
Due: mixed-line-ending

today()
  CMakeLists.txt
Due: none

today()
  antlr_cmake/Antlr4Package.md
  antlr_cmake/ExternalAntlr4Cpp.cmake
  antlr_cmake/FindANTLR.cmake
  antlr_cmake/README.md
  antlr_cmake/antlr4-generator.cmake.in
  antlr_cmake/antlr4-runtime.cmake.in
Due: none

today()
  CMakeLists.txt
  build_ext.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  pya2l/extensions/a2ltoken.hpp
  pya2l/extensions/parser_table.hpp
Due: mixed-line-ending

today()
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  .clang-format
  .darglint
  .gitmodules
  .pre-commit-config.yaml
  CMakeLists.txt
  CONTRIBUTORS
  bandit.yml
  build.py
  pep517.json
  poetry.lock
  pya2l/__init__.py
  pya2l/examples/etas.aml
  pya2l/extensions/preprocessor.hpp
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-json, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  CMakeLists.txt
  bandit.yml
  build_ext.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

:new: A2L parser written in C++
  .github/workflows/pythonapp.yml
  CMakeLists.txt
  pyproject.toml
Due: check-toml, check-yaml

today()
  CMakeLists.txt
  build_ext.py
  pya2l/extensions/utils.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  CMakeLists.txt
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  CMakeLists.txt
  pya2l/extensions/preprocessor.hpp
Due: mixed-line-ending

today()
  CMakeLists.txt
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/preprocessor.hpp
Due: mixed-line-ending

today()
  CMakeLists.txt
  build_ext.py
  pya2l/extensions/utils.hpp
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

today()
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/preprocessor.hpp
  pya2l/extensions/utils.hpp
  reformat.cmd
Due: mixed-line-ending

today()
  CMakeLists.txt
  pya2l/aml/aml_visitor.cpp
Due: mixed-line-ending

Path conditions:
  bandit: any of: \.py$
  black: any of: \.py$
  ruff: any of: \.py$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
  check-ast: any of: \.py$
  check-builtin-literals: any of: \.py$
  check-case-conflict: any of: \.py$
  fix-byte-order-marker: any of: \.py$
  mixed-line-ending: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  end-of-file-fixer: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
