Repository christoph2/pyA2L: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, ruff, check-toml, check-json, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "bandit.yml"]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        args: ["check"]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-json
        name: check-json
        entry: check-json
        language: python
        types: [json]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: check-ast
        name: check-ast
        entry: check-ast
        language: python
        types: [python]
        stages: [commit]
      - id: check-builtin-literals
        name: check-builtin-literals
        entry: check-builtin-literals
        language: python
        types: [python]
        stages: [commit]
      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        language: python
        types: [python]
        stages: [commit]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
        types: [text]
        stages: [commit]
      - id: fix-byte-order-marker
        name: fix-byte-order-marker
        entry: fix-byte-order-marker
        language: python
        types: [python]
        stages: [commit]
      - id: mixed-line-ending
        name: mixed-line-ending
        entry: mixed-line-ending
        language: python
        types_or: [c, c++, python]
        stages: [commit]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        types_or: [python]
        stages: [commit]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py38-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        #  - repo: https://github.com/pre-commit/mirrors-prettier
        #rev: v4.0.0-alpha.8
        #hooks:
        #- id: prettier

Integrate IF_DATA parser
  pya2l/__init__.py
  pya2l/a2lparser.py
  pya2l/api/inspect.py
  pya2l/model/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update IF_DATA integeration
  pya2l/api/inspect.py
  pya2l/model/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add Frame
  pya2l/__init__.py
  pya2l/aml/ifdata_parser.py
  pya2l/api/inspect.py
  pya2l/examples/ex_variants.py
  pya2l/model/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix DB model
  pya2l/model/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add Blob and Transformer
  pya2l/api/inspect.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add TypedefStructure
  pya2l/api/inspect.py
  pya2l/model/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

add win 11 arm build
  .github/workflows/pythonapp.yml
  pyproject.toml
Due: check-toml, check-yaml

Update IfdataParser + documentation
  docs/faq.rst
  docs/pya2l.rst
  docs/tutorial.rst
  pya2l/__init__.py
  pya2l/aml/ifdata_parser.py
  pya2l/api/inspect.py
  pya2l/logger.py
  pya2l/model/__init__.py
  pya2l/tests/test_preproc.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Improve documentation
  .bumpversion.cfg
  README.md
  docs/index.rst
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update .readthedocs.yml
  .readthedocs.yml
Due: check-yaml

Update IfdataParser + documentation
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update documentation
  .github/workflows/pythonapp.yml
  README.md
  docs/building.rst
  docs/conf.py
  docs/configuration.rst
  docs/faq.rst
  docs/getting_started.rst
  docs/howto.rst
  docs/index.rst
  docs/installation.rst
  docs/modules.rst
  docs/pya2l.rst
  docs/tutorial.rst
  pya2l/api/create.py
  pya2l/api/validate.py
  pya2l/parserlib.py
  pya2l/tests/test_api_create.py
  pya2l/tests/test_inspect_utils.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.16.2 → 0.16.3
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Docs: add MD files
  docs/building.md
  docs/configuration.md
  docs/faq.md
  docs/getting_started.md
  docs/howto.md
  docs/index.md
  docs/installation.md
  docs/modules.md
  docs/tutorial.md
Due: none

Fix project
  pya2l/api/inspect.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update README
  README.md
Due: none

IF_DATA parser + documentation update
  README.md
  docs/building.md
  docs/conf.py
  docs/installation.md
  docs/modules.md
  pya2l/aml/aml_parser.hpp
  pya2l/aml/ifdata_parser.py
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.16.3 → 0.17.0
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update pythonapp.yml
  .github/workflows/pythonapp.yml
Due: check-yaml

Update pythonapp.yml
  .github/workflows/pythonapp.yml
  pyproject.toml
Due: check-toml, check-yaml

Update index.rst
  docs/index.rst
Due: none

Bump version: 0.17.0 → 0.17.1
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update README.md
  README.md
Due: none

Small fixes
  pya2l/aml/aml_parser.hpp
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/unmarshal.hpp
Due: mixed-line-ending

Bump version: 0.17.1 → 0.17.2
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update A2l exporter template, add type-annotations
  pya2l/__init__.py
  pya2l/a2lparser.py
  pya2l/cgen/templates/a2l.tmpl
  pya2l/model/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update documentation system
  docs/conf.py
  docs/pya2l_social.jpg
  docs/requirements.txt
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update documentation system
  README.md
  docs/README.rst
  docs/building.md
  docs/building.rst
  docs/configuration.md
  docs/configuration.rst
  docs/faq.md
  docs/faq.rst
  docs/getting_started.md
  docs/howto.md
  docs/howto.rst
  docs/index.md
  docs/index.rst
  docs/installation.md
  docs/installation.rst
  docs/modules.md
  docs/modules.rst
  docs/pya2l.api.rst
  docs/pya2l.cgen.rst
  docs/pya2l.cgen.templates.rst
  docs/pya2l.model.rst
  docs/pya2l.rst
  docs/tutorial.md
  docs/tutorial.rst
Due: none

Bump version: 0.17.2 → 0.17.3
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update documentation system
  docs/conf.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix path to README.rst
  pyproject.toml
Due: check-toml

Fix unlink() command
  pya2l/a2lparser.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update AML parser
  pya2l/aml/aml_parser.hpp
  pya2l/aml/unmarshal.hpp
Due: mixed-line-ending

Bump version: 0.17.3 → 0.17.4
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add new logos
  docs/pya2l_social_dark.svg
  docs/pya2l_social_light.svg
Due: none

README.rst: remove scale attribute from logo
  docs/README.rst
Due: none

functions.py: clean-up differences between formula language variants
  .bumpversion.cfg
  .pre-commit-config.yaml
  poetry.lock
  pya2l/functions.py
  pya2l/tests/test_formula_modes.py
  pya2l/tests/test_functions.py
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.17.5 → 0.17.6
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade
