Repository christoph2/pyA2L: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, ruff, check-toml, check-json, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "bandit.yml"]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        args: ["check"]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-json
        name: check-json
        entry: check-json
        language: python
        types: [json]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: check-ast
        name: check-ast
        entry: check-ast
        language: python
        types: [python]
        stages: [commit]
      - id: check-builtin-literals
        name: check-builtin-literals
        entry: check-builtin-literals
        language: python
        types: [python]
        stages: [commit]
      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        language: python
        types: [python]
        stages: [commit]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
        types: [text]
        stages: [commit]
      - id: fix-byte-order-marker
        name: fix-byte-order-marker
        entry: fix-byte-order-marker
        language: python
        types: [python]
        stages: [commit]
      - id: mixed-line-ending
        name: mixed-line-ending
        entry: mixed-line-ending
        language: python
        types_or: [c, c++, python]
        stages: [commit]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        types_or: [python]
        stages: [commit]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py38-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        #  - repo: https://github.com/pre-commit/mirrors-prettier
        #rev: v4.0.0-alpha.8
        #hooks:
        #- id: prettier

support multiple IF_DATAs
  pya2l/a2lparser.py
  pya2l/a2lparser_wrapper.cpp
  pya2l/aml/ifdata_lexer.hpp
  pya2l/examples/ifdata_tester.py
  pya2l/extensions/FreeA2LParser/FreeA2LParser.vcxproj
  pya2l/extensions/FreeA2LParser/FreeA2LParser.vcxproj.filters
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/valuecontainer.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

More robust AML parser
  pya2l/a2lparser.py
  pya2l/aml/aml_lexer.hpp
  pya2l/aml/aml_parser.hpp
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/types.hpp
  pya2l/aml/unmarshal.hpp
  pya2l/extensions/preprocessor.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

More robust IF_DATA parser
  pya2l/a2lparser_wrapper.cpp
  pya2l/aml/ifdata_parser.py
  pya2l/aml/unmarshal.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix A2l parser
  pya2l/a2lparser.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

IF_DATA parser integration
  pya2l/__init__.py
  pya2l/a2lparser.py
  pya2l/model/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update IF_DATA parser
  pya2l/a2lparser.py
  pya2l/aml/ifdata_parser.py
  pya2l/parsers.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

updating that wheels are available for windows and linux, plus some links
  README.md
Due: none

update formatting using f-strings
  docs/getting_started.rst
Due: none

update deps
  .gitignore
  poetry.lock
  pyproject.toml
Due: check-toml

add macos and bump reqs
  .github/workflows/pythonapp.yml
  pyproject.toml
Due: check-toml, check-yaml

removing OS mentions as #80 will fix for all platforms
  README.md
Due: none

Bump version: 0.16.0 → 0.16.1
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Use Python IF_DATA parser
  pya2l/__init__.py
  pya2l/a2lparser_wrapper.cpp
  pya2l/aml/aml_parser.hpp
  pya2l/aml/ifdata_lexer.hpp
  pya2l/aml/ifdata_parser.py
  pya2l/api/inspect.py
  pya2l/extensions/ifdata.hpp
  pya2l/model/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update parser
  pya2l/a2lparser.py
  pya2l/api/inspect.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Improve IfDataBuilder + escape IF_DATA strings
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/preprocessor.hpp
  pya2l/extensions/token_stream.hpp
  pya2l/extensions/tokenizer.hpp
Due: mixed-line-ending

Add ifdata_lexer.py
  pya2l/aml/ifdata_lexer.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update testing.yml
  .github/workflows/testing.yml
Due: check-yaml

IfDataBuilder: create new token
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/tokenizer.hpp
Due: mixed-line-ending

Remove trim() call
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/preprocessor.hpp
  pya2l/extensions/tokenizer.hpp
Due: mixed-line-ending

Update IfDataBuilder
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/preprocessor.hpp
Due: mixed-line-ending

Fix tokenizer
  pya2l/aml/ifdata_lexer.py
  pya2l/extensions/FreeA2LParser/FreeA2LParser.vcxproj
  pya2l/extensions/FreeA2LParser/FreeA2LParser.vcxproj.filters
  pya2l/extensions/token_stream.hpp
  pya2l/extensions/tokenizer.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add Module class
  pya2l/api/inspect.py
  pya2l/extensions/ifdata.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update Unit class
  pya2l/api/inspect.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update API
  pya2l/aml/ifdata_parser.py
  pya2l/api/inspect.py
  pya2l/model/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Paser not working
  pya2l/aml/ifdata_parser.py
  pya2l/api/inspect.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Parser nearly working
  pya2l/aml/ifdata_parser.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

execute tests only for python version supported
  .github/workflows/testing.yml
Due: check-yaml

skip import to avoid pytest discovery failure
  pya2l/tests/test_preproc.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

removing 3.14
  .github/workflows/testing.yml
Due: check-yaml

Fix double IfData problem
  pya2l/a2lparser.py
  pya2l/api/inspect.py
  pya2l/model/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update API
  pya2l/a2lparser.py
  pya2l/aml/ifdata_parser.py
  pya2l/api/inspect.py
  pya2l/extensions/preprocessor.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update API
  pya2l/api/inspect.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix module_name stuff
  pya2l/api/inspect.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update API
  pya2l/api/inspect.py
  pya2l/model/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix syntax error
  pya2l/api/inspect.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade
