Repository christoph2/pyA2L: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, ruff, check-toml, check-json, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "bandit.yml"]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        args: ["check"]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-json
        name: check-json
        entry: check-json
        language: python
        types: [json]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: check-ast
        name: check-ast
        entry: check-ast
        language: python
        types: [python]
        stages: [commit]
      - id: check-builtin-literals
        name: check-builtin-literals
        entry: check-builtin-literals
        language: python
        types: [python]
        stages: [commit]
      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        language: python
        types: [python]
        stages: [commit]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
        types: [text]
        stages: [commit]
      - id: fix-byte-order-marker
        name: fix-byte-order-marker
        entry: fix-byte-order-marker
        language: python
        types: [python]
        stages: [commit]
      - id: mixed-line-ending
        name: mixed-line-ending
        entry: mixed-line-ending
        language: python
        types_or: [c, c++, python]
        stages: [commit]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        types_or: [python]
        stages: [commit]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py38-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        #  - repo: https://github.com/pre-commit/mirrors-prettier
        #rev: v4.0.0-alpha.8
        #hooks:
        #- id: prettier

Update pythonapp.yml
  .github/workflows/pythonapp.yml
Due: check-yaml

Try to fix pythonapp.yml
  .github/workflows/pythonapp.yml
Due: check-yaml

Try to fix pythonapp.yml #2
  .github/workflows/pythonapp.yml
Due: check-yaml

Update parser
  .pre-commit-config.yaml
  poetry.lock
  pya2l/__init__.py
  pya2l/a2lparser.py
  pya2l/a2lparser_wrapper.cpp
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/parameter.hpp
  pya2l/extensions/parser_table.hpp
  pya2l/extensions/preprocessor.hpp
  pya2l/logger.py
Due: bandit, black, ruff, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.13.1 → 0.13.2
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Use lastest ANTLR4 version
  CMakeLists.txt
  build_ext.py
  pya2l/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update build system
  CMakeLists.txt
  build_ext.py
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/tempfile.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update build system
  CMakeLists.txt
  pya2l/extensions/a2lparser.hpp
Due: mixed-line-ending

Update build_ext.py
  build_ext.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

small fixes
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/parameter.hpp
Due: mixed-line-ending

Fix A2LParser
  pya2l/__init__.py
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/ifdata.hpp
  pya2l/parser_test/parser_test.cpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add parser test project
  pya2l/parser_test/CMakeLists.txt
  pya2l/parser_test/parser_test.cpp
Due: mixed-line-ending

Fix _set_path_components
  pya2l/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Streamline A2L parser
  CMakeLists.txt
  pya2l/__init__.py
  pya2l/a2lparser.py
  pya2l/a2lparser_wrapper.cpp
  pya2l/examples/ex04.py
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/line_numbers.hpp
  pya2l/extensions/parameter.hpp
  pya2l/extensions/preprocessor.hpp
  pya2l/if_data_parser.cpp
  pya2l/logger.py
  pya2l/parser_test/CMakeLists.txt
  pya2l/parser_test/parser_test.cpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.13.2 → 0.13.3
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Try to install libpython3-dev
  .github/workflows/pythonapp.yml
Due: check-yaml

Add missing loglevl parameter
  pya2l/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.13.3 → 0.13.4
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Initial logger
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/logger.hpp
  pya2l/if_data_parser.cpp
Due: mixed-line-ending

Add logger class
  pya2l/__init__.py
  pya2l/a2lparser.py
  pya2l/a2lparser_wrapper.cpp
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/logger.hpp
  pya2l/extensions/parameter.hpp
  pya2l/extensions/preprocessor.hpp
  pya2l/if_data_parser.cpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.13.4 → 0.13.5
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix COMPU_TAB/COMPU_VTAB issues
  poetry.lock
  pya2l/__init__.py
  pya2l/a2lparser.py
  pya2l/a2lparser_wrapper.cpp
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/ctre.hpp
  pya2l/functions.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.13.5 → 0.13.6
  .bumpversion.cfg
  pya2l/version.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update parser
  CMakeLists.txt
  pya2l/aml/unmarshal.hpp
  pya2l/amlparser_wrapper.cpp
Due: mixed-line-ending

Fix logger for MacOS
  pya2l/extensions/logger.hpp
Due: mixed-line-ending

Update IF_DATA parser
  CMakeLists.txt
  pya2l/aml/unmarshal.hpp
  pya2l/amlparser_wrapper.cpp
  pya2l/examples/parse_aml_tst.py
  pya2l/if_data_parser.cpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update IF_DATA parser
  CMakeLists.txt
  pya2l/amlparser_wrapper.cpp
  pya2l/examples/parse_aml_tst.py
  pya2l/extensions/asam_types.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update AML parser
  CMakeLists.txt
  pya2l/aml/aml_parser.hpp
  pya2l/aml/ifdata_lexer.hpp
  pya2l/aml/klasses.hpp
  pya2l/aml/types.hpp
  pya2l/amlparser_wrapper.cpp
  pya2l/examples/parse_aml_tst.py
  pya2l/parser_test/CMakeLists.txt
  pya2l/parser_test/parser_test.cpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

update parsers
  CMakeLists.txt
  antlr-tool/antlr-4.13.2-complete.jar
  antlr_cmake/Antlr4Package.md
  antlr_cmake/ExternalAntlr4Cpp.cmake
  antlr_cmake/FindANTLR.cmake
  antlr_cmake/README.md
  antlr_cmake/antlr4-generator.cmake.in
  antlr_cmake/antlr4-runtime.cmake.in
  build_ext.py
  pya2l/__init__.py
  pya2l/a2lparser.py
  pya2l/a2lparser_wrapper.cpp
  pya2l/aml/aml_parser.hpp
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/parser.cpp
  pya2l/aml/types.hpp
  pya2l/aml/unmarshal.hpp
  pya2l/amlparser_wrapper.cpp
  pya2l/buildGrammar.sh
  pya2l/buildGrammars.sh
  pya2l/extensions/logger.hpp
  pya2l/extensions/preprocessor.hpp
  pya2l/extensions/token_stream.hpp
  pya2l/extensions/tokenizer.cpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Linux fixes
  CMakeLists.txt
  pya2l/aml/klasses.hpp
  pya2l/extensions/logger.hpp
  pya2l/scripts/a2ldb_imex.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update A2L parser
  pya2l/a2lparser_wrapper.cpp
  pya2l/extensions/a2lparser.cpp
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/logger.hpp
  pya2l/extensions/tokenizer.cpp
Due: mixed-line-ending

update a2lparser.hpp
  pya2l/extensions/a2lparser.hpp
Due: mixed-line-ending

Update A2L parser
  pya2l/a2lparser_wrapper.cpp
  pya2l/extensions/logger.hpp
Due: mixed-line-ending

Update build system
  CMakeLists.txt
  pya2l/extensions/a2lparser.cpp
  pyproject.toml
Due: check-toml, mixed-line-ending

Update poetry.lock
  poetry.lock
  pyproject.toml
Due: check-toml

Update build system
  .github/workflows/pythonapp.yml
  pyproject.toml
Due: check-toml, check-yaml

Integrate AML parser
  CMakeLists.txt
  poetry.lock
  pya2l/__init__.py
  pya2l/a2lparser.py
  pya2l/a2lparser_wrapper.cpp
  pya2l/aml/parser.cpp
  pya2l/aml/parser.hpp
  pya2l/amlparser_wrapper.cpp
  pya2l/extensions/a2lparser.hpp
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/logger.hpp
  pya2l/extensions/parameter.hpp
  pya2l/extensions/preprocessor.hpp
  pya2l/scripts/a2ldb_imex.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade
