Repository christoph2/pyA2L: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: check-yaml
    name: check-yaml
    entry: check-yaml
    language: python
    types: [yaml]
    stages: [commit]
  - id: check-json
    name: check-json
    entry: check-json
    language: python
    types: [json]
    stages: [commit]
  - id: check-toml
    name: check-toml
    entry: check-toml
    language: python
    types: [toml]
    stages: [commit]
  - id: check-ast
    name: check-ast
    entry: check-ast
    language: python
    types: [python]
    stages: [commit]
  - id: check-builtin-literals
    name: check-builtin-literals
    entry: check-builtin-literals
    language: python
    types: [python]
    stages: [commit]
  - id: check-case-conflict
    name: check-case-conflict
    entry: check-case-conflict
    language: python
    types: [python]
    stages: [commit]
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: python
    types: [text]
    stages: [commit]
  - id: fix-byte-order-marker
    name: fix-byte-order-marker
    entry: fix-byte-order-marker
    language: python
    types: [python]
    stages: [commit]
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: mixed-line-ending
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: end-of-file-fixer
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: trailing-whitespace-fixer
    name: trailing-whitespace-fixer
    entry: trailing-whitespace-fixer
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: reorder-python-imports
    name: reorder-python-imports
    entry: reorder-python-imports
    language: python
    types: [python]
    stages: [commit]
  - id: black
    name: black
    entry: black
    language: python
    types: [python]
    stages: [commit]
  - id: flake8
    name: flake8
    entry: flake8
    language: python
    types: [python]
    stages: [commit]
  - id: pytest-check
    name: pytest-check
    entry: pytest
    language: system
    pass_filenames: false
    always_run: true
    stages: [push]
    # - repo: https://github.com/pre-commit/mirrors-clang-format
    # rev: v14.0.6
    # hooks:
    # - id: clang-format

Fix preprocessor suffixes
  pya2l/extensions/tokenizer.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

antlr4 fixes
  pya2l/classes.py
  pya2l/parserlib.py
  pya2l/parsers.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

bytes patch
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/parser.cpp
  pya2l/amlparser_wrapper.cpp
  pya2l/extensions/tokenizer.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

bytes patch
  pya2l/amlparser_wrapper.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pya2l/__init__.py
  pya2l/aml/marshal.cpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

today()
  pya2l/if_data_parser.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pya2l/aml/unmarshal.cpp
  pya2l/aml_parser.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

fixes types
  pya2l/aml/marshal.cpp
  pya2l/aml/unmarshal.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

antlr4 fixes
  pya2l/aml_parser.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

New parser front-end
  pya2l/aml/unmarshal.cpp
  pya2l/aml/unmarshal.hpp
  pya2l/aml_parser.cpp
  pya2l/if_data_parser.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pya2l/aml/unmarshal.cpp
  pya2l/aml/unmarshal.hpp
  pya2l/if_data_parser.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  CMakeLists.txt
  poetry.lock
Due: none

new parser structs
  pya2l/aml/unmarshal.cpp
  pya2l/aml/unmarshal.hpp
  pya2l/if_data_parser.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

Update grammar
  pya2l/aml/unmarshal.hpp
  pya2l/if_data_parser.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pya2l/aml/marshal.cpp
  pya2l/aml/unmarshal.hpp
  pya2l/aml_parser.cpp
  pya2l/if_data_parser.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  CMakeLists.txt
  pya2l/aml/unmarshal.hpp
  pya2l/if_data_parser.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pya2l/aml.g4
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/unmarshal.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pya2l/aml.g4
  pya2l/aml_parser.cpp
  pya2l/if_data_parser.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  .pre-commit-config.yaml
  CMakeLists.txt
  build_ext.py
  pya2l/aml.g4
  pya2l/aml/aml_visitor.cpp
  pya2l/aml/klasses.hpp
  pya2l/aml/marshal.cpp
  pya2l/aml/unmarshal.hpp
  pya2l/aml_parser.cpp
  pya2l/if_data_parser.cpp
  setup.py
Due: check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

Update build script
  build_ext.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

Update build script (Linux/MacOS)
  build_ext.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

Additional MacOS search directory
  build_ext.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

Update actions script
  .github/workflows/pythonapp.yml
Due: check-yaml

Linux build options
  CMakeLists.txt
  build_ext.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

_process_aml() initial
  pya2l/preprocessor.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

Add line map class
  pya2l/preprocessor.cpp
  pya2l/preprocessor.hpp
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

Restructure modules
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/line_map.hpp
  pya2l/extensions/line_numbers.hpp
  pya2l/extensions/regex.hpp
  pya2l/extensions/tempfile.hpp
  pya2l/extensions/utils.hpp
  pya2l/preprocessor.cpp
  pya2l/preprocessor.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

First version of C++ extension
  pya2l/__init__.py
  pya2l/a2l_listener.py
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/line_map.hpp
  pya2l/extensions/regex.hpp
  pya2l/extensions/tempfile.hpp
  pya2l/extensions/utils.hpp
  pya2l/parserlib.py
  pya2l/preprocessor.hpp
  pya2l/preprocessor.py
  pya2l/preprocessor_wrapper.cpp
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

Add TempFile class
  pya2l/preprocessor.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

Initial version of new (C++) preprocessor
  pya2l/preprocessor.cpp
  pya2l/preprocessor.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

Update logger
  pya2l/__init__.py
  pya2l/a2l_listener.py
  pya2l/if_data_parser.py
  pya2l/preprocessor.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

Add dbfname
  pya2l/__init__.py
  pya2l/parserlib.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

Today
  pya2l/__init__.py
  pya2l/parserlib.py
  pya2l/preprocessor.hpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

Today()
  pya2l/extensions/gen_token_files.py
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/regex.hpp
  pya2l/extensions/tempfile.hpp
  pya2l/extensions/token_type.hpp
  pya2l/extensions/tokenizer.cpp
  pya2l/extensions/tokenizer.hpp
  pya2l/extensions/utils.hpp
  pya2l/preprocessor.hpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

Today()
  pya2l/__init__.py
  pya2l/a2l_listener.py
  pya2l/extensions/gen_token_files.py
  pya2l/extensions/token_type.hpp
  pya2l/extensions/tokenizer.cpp
  pya2l/extensions/tokenizer.hpp
  pya2l/preprocessor.hpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

Update Preprocessor
  pya2l/extensions/utils.hpp
  pya2l/preprocessor.cpp
  pya2l/preprocessor.hpp
  pya2l/preprocessor_wrapper.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today
  pya2l/__init__.py
  pya2l/a2l.g4
  pya2l/extensions/line_map.hpp
  pya2l/extensions/tempfile.hpp
  pya2l/parserlib.py
  pya2l/preprocessor.hpp
  pya2l/preprocessor_wrapper.cpp
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8

Linenumbers working
  .pre-commit-config.yaml
  pya2l/a2l.g4
  pya2l/extensions/generator.hpp
  pya2l/extensions/ifdata.hpp
  pya2l/extensions/line_map.hpp
  pya2l/extensions/line_numbers.hpp
  pya2l/extensions/tempfile.hpp
  pya2l/extensions/tokenizer.cpp
  pya2l/extensions/tokenizer.hpp
  pya2l/extensions/utils.hpp
  pya2l/preprocessor.hpp
  pya2l/preprocessor_wrapper.cpp
Due: check-yaml, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  .gitignore
  pya2l/__init__.py
  pya2l/extensions/line_map.hpp
  pya2l/extensions/tokenizer.cpp
  pya2l/extensions/tokenizer.hpp
  pya2l/extensions/utils.hpp
  pya2l/parserlib.py
  pya2l/preprocessor.cpp
  pya2l/preprocessor.hpp
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black, flake8
